<h1>Your Profile</h1>


<p><%= @user.first_name%> <%=@user.last_name %></p>
<p><%= @user.email%></p>

<p class="like"> 44 </p>      <p class="didit"> 75 </p>

<h1>My Submitted Diversions</h1>

<p><%= link_to "Back to Daily Diversions", projects_path %></p>
