<div>
<h1>Daily Diversions</h1>

<div class="btn"><%= link_to "Submit a Daily Diversion", new_project_path %> </div>

<% @projects.each do |project| %>
				<div class="collage">
					<%= image_tag project.file_url (:medium) %> 
			  	<%= link_to project.name, "/projects/#{project.id}" %> 
			  </div>
			<% end %>
</div>

	

