<h1>Daily Diversions</h1>
	<div>
		<%= link_to "New Project", new_project_path %>
		<% @projects.each do |project| %></P>
			<p><%= link_to project.name, "/projects/#{project.id}" %></p>
			<% end %>
	</div>

