<h1>Daily Diversions</h1>
	<div>
		<div class="btn"><%= link_to "Submit a Daily Diversion", new_project_path %> </div>
		<% @projects.each do |project| %></P>
			<p><%= link_to project.name, "/projects/#{project.id}" %></p>
			<% end %>
	</div>

