<div>
<p>
<div class="intro animated bounceIn"><img src="/funoomy_face.svg"></div>
<div class="intro1 animated fadeInRight">Your Daily...</div>
<div class="intro2 animated fadeInRight">Distraction</div>
<div class="intro3 animated fadeInRight">Deal</div>
<div class="intro4 animated fadeInRight">Daydream</div>
<div class="intro5 animated fadeInRight">DIVERSION!</div>




</p>
<div class="greyline">Daily Diversions</div>

<div class="btn"><%= link_to "Submit a Daily Diversion", new_project_path %> </div>

<% @projects.each do |project| %>
				<div class="collage">
					<%= image_tag project.file_url (:medium) %> 
			  	<%= link_to project.name, "/projects/#{project.id}" %> 
			  </div>
			<% end %>
</div>

	

