<h1>Daily Diversions</h1>
	<div>
		<div class="btn"><%= link_to "Submit a Daily Diversion", new_project_path %> </div>
		<% @projects.each do |project| %></P>
			<div> <%= image_tag project.file_url (:large) %> </div>
			<p><%= link_to project.name, "/projects/#{project.id}" %></p>

			<% end %>
	</div>

