/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0px;
  padding: 0px;
}

header {
  margin-top: 20px;
  border-bottom: medium solid grey;
  height: 60px;
  width: 100%;
    }

body {
  margin:  5px;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: url("/photogrrr3.gif");
  background-repeat: repeat;
}

h1 {
    font-family: Arial, sans-serif;
    color: grey;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

inline {
  display: inline;  
  width: 800px;
  padding: -3px;
  margin: -3px;
  line-height: 0;

}


a:link, a:visited {
  display: block;
  color: white;
  border-radius: 5px;
  background-color: #00CCFF;
  width: 180px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  margin: 10px;
}

a:hover, a:active {
  background-color: #0099FF;
}

.upload {   
    display: inline;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: #669933;
    text-align: center;
    text-decoration: none;
}

.didit {
    display: inline;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: #808080;
    text-align: center;
    text-decoration: none;
}

.likeit {
    display: inline;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: #CC9933;
    text-align: center;
    text-decoration: none;
}

fixed{
    position-top: 0px;
    position-right: 125px;
  }

footer {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 0px;  
  border-top: medium solid grey;
  height: 40px;
  width: 100%;
  font-size: 12px;
    }






